{% extends 'base.html' %}

{% block title %}
Vlans
{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <form method="post">
      <header  class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      </form>
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" >АИЮ.LTD</a>
  <input class="form-control form-control-dark w-100" name="search" id="search" type="text" placeholder="" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <input type="submit"  class="btn btn-success" value="Поиск VLAN ">

    </li>
  </ul>

</header>
    <h2>Узловые адреса</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Имя узла</th>
              <th scope="col">Адрес узла</th>

              <th scope="col">Примечание</th>

            </tr>
          </thead>
          <tbody>
          <form method="post" name="addnodeform" >
            <tr>
              <td><input class="form-control form-control-dark w-100" name="name"  type="text" placeholder="name" "></td>
              <td>
                  <select name="address_id" class="form-control form-control-dark w-100">
                      <option>Выберите из списка</option>
                      {% for i in list_address%}
                      <option value="{{i.id}}">{{i.small_address}}</option>
                      {% endfor %}
                  </select>
              </td>
                <td><input class="form-control form-control-dark w-100" name="description"  type="text" placeholder="Примечание" ></td>
                <td><button type="submit" class="btn btn-dark btn-sm">ДОБАВИТЬ</button></td>
            </tr>
          </form>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                    {% for category, message in messages %}
          <tr><p class="text-danger">{{ message }}</p></tr>

                    {% endfor %}

            {% endif %}
          {% endwith %}

          {%for i in list_nodes%}
        <form action = "/delnodes" method = "POST"">
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.addressnodes.small_address}}</td>
                <td>{{i.description}}</td>




              <td><button type="submit" name = "delbtn" value = "{{i.id}}" class="btn btn-dark btn-sm">Удалить</button></td>
            </tr></form>
            {% endfor %}

          </tbody>
        </table>

      </div>

    </main>

{% endblock %}