{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <form method="post">
      <header  class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      </form>
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" >АИЮ.LTD</a>
  <input class="form-control form-control-dark w-100" name="search" id="search" type="text" placeholder="Введите адрес.  Чтобы отобразить все адреса, введите   * " aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <input type="submit"  class="btn btn-success" value="Поиск VLAN ">

    </li>
  </ul>

</header>
    <h2>Работа с Адресами</h2>

     <form method="POST" enctype=multipart/form-data action="/files">
        <div class="pb-1" >
        <button type="submit" name ="btnfiles" value="downloadaddress" class="btn btn-secondary ">Загрузить шаблон EXCEL</button>
        </div>
        <div class="pb-1" >
        <button type="submit" name ="btnfiles" value="uploadaddress" class="btn btn-secondary ">Загрузить список адресов из файла EXCEL</button>
        </div>
        <p><input type="file" name="file"></p>
    </form>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Адрес</th>
              <th scope="col">Адрес в формате RGIS</th>
              <th scope="col">Трансляция</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
          <form method="post">
            <tr>
              <td><input class="form-control form-control-dark w-100" name="small_address" id="search" type="text" placeholder="адрес 'small'" ></td>
              <td><input class="form-control form-control-dark w-100" name="rgis_address" id="search" type="text" placeholder="адрес в РГИС" ></td>
              <td>Автоматически</td>
              <td><button type="submit" class="btn btn-dark btn-sm">ДОБАВИТЬ</button></td>
            </tr>
          </form>
            {% for i in list_addreses %}
          <form action = "/deladdr" method = "POST"">
            <tr>
              <td>{{i.small_address}}</td>
              <td>{{i.rgis_address}}</td>
              <td>{{i.translate}}</td>
              <td><button type="submit" name = "delbtn" value = "{{i.id}}" class="btn btn-dark btn-sm">Удалить</button></td>
            </tr></form>
              {%  endfor %}

          </tbody>
        </table>
      </div>
    </main>

{% endblock %}