{% extends 'base.html' %}

{% block title %}
Vlans
{% endblock %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <form method="post">
      <header  class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      </form>
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" >АИЮ.LTD</a>
  <input class="form-control form-control-dark w-100" name="search" id="search" type="text" placeholder="Введите vlan ID: Например, 197 2644 32. Чтобы отобразить все ID, введите   * " aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <input type="submit"  class="btn btn-success" value="Поиск VLAN ">

    </li>
  </ul>

</header>
      <h2>Работа со списком VLAN</h2>
      <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="0" height="0" style="display: block; width: 0px; height: 0px;"></canvas>
      <button type="button" class="btn btn-secondary">Загрузить шаблон EXCEL</button>
      <button type="button" class="btn btn-secondary">Загрузить список VLAN из файла EXCEL</button>


      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">VLAN ID</th>
              <th scope="col">Имя VLAN</th>
              <th scope="col">Адрес</th>
              <th scope="col">Удалить</th>

            </tr>
          </thead>
          <tbody>
          <form method="post">
            <tr>
              <td><input class="form-control form-control-dark w-100" name="addvlanid" id="search" type="text" placeholder="Введите vlan ID" aria-label="Search"></td>
              <td><input class="form-control form-control-dark w-100" name="addvlanname" id="search" type="text" placeholder="Введите имя VLAN" aria-label="Search"></td>

              <td>
                  <select name="list1" class="form-control form-control-dark w-100">
                      <option>Выберите из списка</option>
                      {% for i in list_address%}
                      <option>{{i.small_address}}</option>
                      {% endfor %}
                  </select>
              </td>

                <td><button type="submit" class="btn btn-dark btn-sm">ДОБАВИТЬ</button></td>
            </tr>
          </form>
            <tr>
              <td>1,001</td>
              <td>random</td>
              <td>data</td>
              <td><button type="button" class="btn btn-dark btn-sm">Удалить</button></td>
            </tr>

          </tbody>
        </table>
      </div>
    </main>

{% endblock %}